body
{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(to left,blue,pink);
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container
{
    background:aqua;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body .container div div
{
    display: flex;
   
}
input
{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 20px;
}

.result
{
    color: green;
    font-size: 59px;
}

#error
{
   font-weight: 900;
   font-size: 30px;
   color: red;
   bottom: 30px;
   position: absolute;
   
}