*{
   margin:0;
   padding:0;
   box-sizing: border-box;
 }
 body
 {
	   height:100vh;
	   width:100vw;
	   background:linear-gradient(to left,blue,pink);
	   display:flex;
	   align-items: center;
	   justify-content:top;
	   flex-direction:column;
	   overflow-x: hidden;
	   padding: 40px;
	
 }
 
 

.btn
{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    
	margin:0 20px;
	cursor:pointer;
}
.modify-btn:hover{
	background-color: rgba(250,235,215,0.8);
}
.delete-btn:hover{
	background-color: rgba(255,0,0,0.8);
}
.add-btn:hover{
	background-color: rgba(0,128,0,0.8);
}
.add-btn
{
	background-color: green;
	color: white;
	font-weight: 600;
}

.delete-btn
{
	background-color: rgba(255,0,0,0.8);
	color: white;
	width:149px;
	position:absolute;
	top:10px;
	right:20px;
	
	
}

 table{

	 width:80vw;
	 text-align:top;		 
	 text-align: center;
	 margin-top: 20px;
 }
 
 table td{
	font-size:30px;
	 padding:10px;
	
 }
.container.notactive
{
	opacity: 0.5;
}


 table .heading td
 {
	 font-weight:800;
 }
 
 .inputWrapDiv
 {
	position: absolute;
	top:16px;
	left:58px;
	

 }
.inputWrapDiv div{
	position: relative;
	height: 40px;
	width: 170px;
	
	
}
 .inputWrapDiv div p{
	position:absolute;
	bottom:3px;
	color: black;
	font-size: 20px;
	transition: bottom 0.4s;
	z-index: -1;
 }
 input:focus{
	outline: none;
 }

 .inputWrapDiv .inputBox
 {
	background-color: transparent;
	border:none;
	position:absolute;
	border-bottom: 2px solid white;
	bottom:-19px;
	font-size: 20px;
	height:40px;
 }

 .inputWrapDiv p.active{
	bottom:20px;
 }

 .row.notactive
 {
	display: none;
 }

 .addElement
 {
	font-size: 25px;
    padding: 5px;
    background-color: transparent;
    border: none;
	
 }
 

 .addForm
 {
	height: 463px;
    display: flex;
    width: 584px;
    background-color: white;
    flex-direction: column;
	font-size: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    z-index: 99;
    position: absolute;
    padding: 43px;
	visibility: hidden;
	
 }

.addForm.active {
	visibility: visible;
}

 .addInput
 {
	height:40px;
	border-radius: 10px;
 }

 .close
 {
	position: absolute;
    right: 23px;
    top: 11px;
    
    font-size: 52px;
    color: red;
    font-weight: 900;
	cursor: pointer;
 }